.container {
    transition: .2s;
    width: 600px;
    background-color: var(--light);
    padding: calc(4 * var(--scale));
    border-radius: calc(2 * var(--scale));
    margin-bottom: calc(3 * var(--scale));

    & h1 {
        font-size: 1.8em;
        color: var(--dark);
    }

    &:hover {
        box-shadow: var(--shadow-light);
    }

    & > button {
        width: 100%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--light-medium);
    margin-bottom: calc(4 * var(--scale));
}