.container {
    width: 100%;

    & > div, & > .container__hp {
        border: 1px solid var(--light-medium);
        padding: calc(2 * var(--scale));
        border-radius: var(--scale);
    }
}

.container__attributes {
    width: 100%;
}

.container__hp {
    margin-bottom: calc(2 * var(--scale));
}