.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--scale);
    border: 1px solid var(--light-medium);
    padding: var(--scale) calc(2 * var(--scale));
    margin-bottom: calc(2 * var(--scale));
}

.container__information {
    margin-left: calc(2 * var(--scale));

    & > p {
        font-size: var(--font-size);
        font-weight: 600;
    }

    & h2 {
        font-size: var(--font-size-min);
        font-weight: 400;
        color: var(--light-dark);
    }
}

.content {
    display: flex;
    align-items: center;

    & > svg {
        fill: var(--primary);
    }
}